// Typography
$elc-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

// Width rules
$max-width: 1920px;

// Media queries

$landscape-xl: 1280px;
$landscape-up: 1024px;
$tablet: 768px;
$mobile: 425px;

// Colors
$color-black: #1A1A1A;
$color-gray: #999999;
